
        <%=alert%><%=alert%>
			<div id="wrapper">
				
				<!-- Section -->
					<section id="first" class="pt-5">
						<header>
							<h2>¿Quienes somos?</h2>
						</header>
						<div class="content">
							<p><strong>Clothes Co</strong> Somos una empresa dedicada a la elaboración de prendas de vestir de primera calidad y dedicada a ofrecer nuestra ropa por todo el mundo. Nuestra especialidad son las prendas que resalten la parte de joven de cada uno de nosotros y, al mismo tiempo, te haga sentir elegante</p>
							<span class="image main"><%= image_tag "tie.jpg" %></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Características de nuestros productos</h2>
						</header>
						<div class="content">
							<p><strong>En Clothes Co</strong> siempre estamos en constante busqueda de mejoras de nuestras prendas y nuestro servicio para ofrecerles lo mejor de lo mejor.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-tshirt">Telas de calidad</li>
								<li class="icon solid fa-user-graduate">Profesionales</li>
								<li class="icon solid fa-clock">Entregas a tiempo</li>
								<li class="icon solid fa-phone">Atención inmediata</li>
								<li class="icon solid fa-plane">Envíos a todos los paises</li>
								<li class="icon solid fa-user-friends">Cercanía con nuestros usuarios</li>
							</ul>
							<p>Además de lo que ya te mostramos, debemos incluir el compromiso de día a día acompañarte en tu trabajo, en tu casa y a todas partes haciendote lucir bien.</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Ultrices erat magna sed condimentum</h2>
						</header>
						<div class="content">
							<p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

							<!-- Section -->
								<section>
									<header>
										<h3>Erat aliquam</h3>
										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
											<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
											<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
											<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Nisl consequat</h3>
										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/05.jpg" class="landscape"><img src="images/gallery/thumbs/05.jpg" alt="" /></a>
											<a href="images/gallery/fulls/06.jpg"><img src="images/gallery/thumbs/06.jpg" alt="" /></a>
											<a href="images/gallery/fulls/07.jpg"><img src="images/gallery/thumbs/07.jpg" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Lorem gravida</h3>
										<p>Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/08.jpg" class="portrait"><img src="images/gallery/thumbs/08.jpg" alt="" /></a>
											<a href="images/gallery/fulls/09.jpg" class="portrait"><img src="images/gallery/thumbs/09.jpg" alt="" /></a>
											<a href="images/gallery/fulls/10.jpg" class="landscape"><img src="images/gallery/thumbs/10.jpg" alt="" /></a>
										</div>
									</div>
								</section>

						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Duis sed adpiscing veroeros amet</h2>
						</header>
						<div class="content">
							<p><strong>Proin tempus feugiat</strong> sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.</p>
							<ul class="actions">
								<li><a href="#" class="button primary large">Get Started</a></li>
								<li><a href="#" class="button large">Learn More</a></li>
							</ul>
						</div>
					</section>

					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p><strong>Auctor commodo</strong> interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.</p>
							<form>
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="button primary" /></li>
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">information@untitled.ext</a>
								</li>
								<li>
									<h3>Phone</h3>
									<a href="#">(000) 000-0000</a>
								</li>
								<li>
									<h3>Address</h3>
									<span>1234 Somewhere Road, Nashville, TN 00000</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-codepen"><span class="label">Codepen</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>