
        <%=alert%><%=alert%>
			<div id="wrapper">
				
				<!-- Section -->
					<section id="first" class="pt-5">
						<header>
							<h2>¿Quienes somos?</h2>
						</header>
						<div class="content">
							<p><strong>Clothes Co</strong> Somos una empresa dedicada a la elaboración de prendas de vestir de primera calidad y dedicada a ofrecer nuestra ropa por todo el mundo. Nuestra especialidad son las prendas que resalten la parte de joven de cada uno de nosotros y, al mismo tiempo, te haga sentir elegante</p>
							<span class="image main"><%= image_tag "tie.jpg" %></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Características de nuestros productos</h2>
						</header>
						<div class="content">
							<p><strong>En Clothes Co</strong> siempre estamos en constante busqueda de mejoras de nuestras prendas y nuestro servicio para ofrecerles lo mejor de lo mejor.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-tshirt">Telas de calidad</li>
								<li class="icon solid fa-user-graduate">Profesionales</li>
								<li class="icon solid fa-clock">Entregas a tiempo</li>
								<li class="icon solid fa-phone">Atención inmediata</li>
								<li class="icon solid fa-plane">Envíos a todos los paises</li>
								<li class="icon solid fa-user-friends">Cercanía con nuestros usuarios</li>
							</ul>
							<p>Además de lo que ya te mostramos, debemos incluir el compromiso de día a día acompañarte en tu trabajo, en tu casa y a todas partes haciendote lucir bien.</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Nuestra historia</h2>
						</header>
						<div class="content">
							<p><strong>Todos los comienzos son duros</strong> pero la historia de nuestra marca, con esfuerzo y dedicación se convirtió en la número uno del país..</p>
							
							<!-- Section -->
								<section>
									<header>
										<h3>Tienda física</h3>
										<p>En nuestra tienda podrás encontrar nuestra colección según la época del año. Todas nuestras prendas se adaptan perfectamente para todos los estilos de aquellas personas que quieran lucir bien.</p>
										<p>Por motivos de pandemia, nuestros plazos de entrega se han visto modificados. Pero, de igual modo, estamos haciendo lo posible por cumplir con nuestras expectativas para darles un mejor servicio.</p>
									</header>
									<div class="content">
										<div class="gallery">
											<%= image_tag "img1.jpg", class: "landscape img-fluid" %>
										</div>
									</div>
								</section>
					<section>
						<header>
							<h2>Contáctanos</h2>
						</header>
						<div class="content">
							<div data-tf-widget="bBw84EWN" style="width:100%;height:400px;"></div>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">ayuda@clothesco.cl</a>
								</li>
								<li>
									<h3>Teléfono</h3>
									<a href="#">(999) 123-4567</a>
								</li>
								<li>
									<h3>Dirección</h3>
									<span>1234 Av Santiago, Santiago, RM</span>
								</li>
								<li>
									<h3>Redes Sociales</h3>
									<ul class="icons">
										<li><a href="https://twitter.com/TwitterLatAm" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/facebookapp/?brand_redir=185150934832623" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.instagram.com/instagram/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://www.linkedin.com/company/linkedin/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="https://github.com/angeljcampo/proyectoFinal_ClothesCo" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>
							<script src="//embed.typeform.com/next/embed.js"></script>